.profile-page-wrapper{
  display: flex;
  width: 90%;
  height: 100%;
  margin: 50px auto auto auto;
  flex-direction: row;
  /* border: 1px solid blue; */
}

.profile-page-left{
  justify-content: center;
  display: flex;
  width: 25%;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
}

.profile-page-right{
  background-color:#F5F5F5;
  justify-content: center;
  display: flex;
  width: 73%;
  height: 850px;
  min-width: 800px;
  flex-direction: column;
  align-items: center;
  margin:auto;
}


.profile-card-wrapper {
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  width: 260px;
  height: 420px;
}

.profile-head-default .frame {
  align-items: center;
  align-self: stretch;
  justify-content: center;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.profile-card-wrapper .fullname {
  align-self: stretch;
  color: #222222;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 32px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.profile-card-wrapper .role-title {
  align-self: stretch;
  color: #222222;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.profile-card-wrapper .username {
  color: #222222;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.profile-card-wrapper .profile-picture{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px 0px 20px 0px;
}

.profile-head-default .profile-bio-wrapper  {
  align-self: stretch;
  color: transparent;
  font-family: "Urbanist-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 19px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.profile-bio-wrapper .bio-text {
  color: #222222;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
}
