.post-container{
    margin:auto;
    width: 50%;

}

.post-title{
    height:30px;
    width: 50%;
    padding: 10px;
    font-size: 100%;
    border: 1px solid black;
    margin: 3px;
}

.post-abstract{
    height:50px;
    padding: 10px;
    font-size: 100%;
    border: 1px solid black;

}


.post-content{
    height: 80vh;
    padding: 10px;
    font-size: 100%;
    border: 1px solid black;

}

ul, li {
    list-style:none;
}

.comment-container{
    margin: 5em auto;
}

.comment-box{
    margin-left:5em;
}
